/* Fade in from the right */
@keyframes fade-in-from-right {
    from {
      opacity: 0;
      transform: translateX(100%);
    }
    to {
      opacity: 1;
      transform: translateX(0);
    }
  }
  
  /* Fade in from the left */
  @keyframes fade-in-from-left {
    from {
      opacity: 0;
      transform: translateX(-100%);
    }
    to {
      opacity: 1;
      transform: translateX(0);
    }
  }
  
  /* Fade in from the top */
  @keyframes fade-in-from-top {
    from {
      opacity: 0;
      transform: translateY(-100%);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  
  /* Fade in from the bottom */
  @keyframes fade-in-from-bottom {
    from {
      opacity: 0;
      transform: translateY(100%);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  
  /* Apply the animations to elements */
  
  .element-right {
    animation: fade-in-from-right 1s ease-out;
  }
  
  .element-left {
    animation: fade-in-from-left 1s ease-out;
  }
  
  .element-left {
    animation: fade-in-from-top 1s ease-out;
  }

  .element-left {
    animation: fade-in-from-bottom 1s ease-out;
  }
  

  .hero-content{
    animation: fade-in-from-bottom 0.8s ease-out;
  }


  .ul_slider .card{
    animation: fade-in-from-bottom 1s ease-out;
  }


    /* Navbar animation */

    .navbar-menu-open .list-unstyled li {
      opacity: 1;
    }
    
    .navbar-menu-open .list-unstyled li:nth-child(1) {
      animation: fade-in-from-right 0.4s ease-out;
    }
    
    .navbar-menu-open .list-unstyled li:nth-child(2) {
      animation: fade-in-from-right 0.8s ease-out;
    }
    
    .navbar-menu-open .list-unstyled li:nth-child(3) {
      animation: fade-in-from-right 1.2s ease-out;
    }
    
    .navbar-menu-open .list-unstyled li:nth-child(4) {
      animation: fade-in-from-right 1.6s ease-out;
    }
    
    .navbar-menu-open .list-unstyled li:nth-child(5) {
      animation: fade-in-from-right 2.0s ease-out;
    }
