 
  /* Media query for screens between 768px and 991.98px (medium devices) */
  @media (min-width: 768px) and (max-width: 991.98px) {
    .watermark_section{
      background-color: var(--bg_black); 
      height: 50vh !important; 
      padding-top: 15%;
    }

    h1{
      font-size: 38px !important;
    }

    h5{
      font-size: 17px !important;
    }

    p{
      font-size: 20px !important;
    }

    .bg_slider {
      position: relative;
      height: 50vh;
      max-height: 500px;
    }
    
    .bg_slider img {
      object-fit: cover;
      width: 100%;
      max-height: 1000px;
    }

    /* .abt_name{
      margin: 8% 8% !important;
    } */

    .abt_content{
      margin-left: 8%;
    }
}

  
