:root{
    --primary: #FBC108;
    --secondary: #072F5A;
    --secondary2: #072F5A;
    --secondary_bg: #072F5A;
    --bg_black: #1A1D1B;
    --card_black: #313432;
    --white: #ffffff;
    --gray: #f8f8f8;
    --text_gray: #bfbfbf;
    --black: #000000;
    --tp: transparent;
}

html {
  scroll-behavior: smooth;
}

*{
  overflow-x: clip ;
  transition: all 0.3s ease-out;
}

a{
  text-decoration: none;
  color: inherit;
}


@font-face {
    font-family: 'Primary1';
    src:  url('../fonts/made_mirage_regular-webfont.woff2') format('woff2'),
          url('../fonts/made_mirage_regular-webfont.woff') format('woff');
  }
  
   @font-face {
    font-family: 'Primary2';
    src: url('../fonts/Poppins-Regular.ttf') format('truetype'),
   }

   @font-face {
    font-family: 'Primary3';
    src: url('../fonts/Algiers-Regular.ttf') format('truetype'),
   }

   @font-face {
    font-family: 'bootstrap-icons';
    src: url('../fonts/bootstrap-icons.woff2') format('woff2'),
         url('../fonts/bootstrap-icons.woff') format('woff');
}

   h1{
    font-family: 'Primary1', sans-serif !important;
   }

   h2{
      font-family: 'Primary1', sans-serif !important;
   }

   h3{
    font-family: 'Poppins', sans-serif !important;
   }


/* Animation mine started */

    button.arrowNavy,
    button.arrowYellow,
    button.arrowWhite{
      background-color: transparent;
      border: transparent;

      position: relative;
      padding-right: 30px;
    }

    button.arrowNavy a,
    button.arrowYellow a,
    button.arrowWhite a{
      display: flex;
      justify-content: center;
      align-items: start;
      gap: 5px;
    }

    #arrowNavy .btn-text,
    #arrowYellow .btn-text,
    #arrowWhite .btn-text{
      font-family: 'Poppins', sans-serif;
      font-weight: 500;
      font-size: 16px;
      text-transform: uppercase;
      color: var(--secondary);
      opacity: 1;
      display: contents;
    }


    button.arrowNavy,
    button.arrowYellow,
    button.arrowWhite{
      transform: translateX(0px);
      transition: all 0.3s ease-out;
    }

    button.arrowNavy:hover,
    button.arrowYellow:hover,
    button.arrowWhite:hover{
      transform: translateX(15px);
      transition: all 0.3s ease-out;
    }

    #arrowYellow .btn-text{
      font-family: 'Poppins', sans-serif;
      font-weight: 500;
      font-size: 16px;
      text-transform: uppercase;
      color: var(--primary);
      opacity: 1;
    }

    #arrowWhite .btn-text{
      font-family: 'Poppins', sans-serif;
      font-weight: 500;
      font-size: 14px;
      text-transform: uppercase;
      color: var(--white);
      opacity: 1;
      white-space: nowrap;
    }


    /* all button */

    button#shortArrow{
      background-color: var(--primary);
      border-radius: 80px;
      padding: 0px 30px !important;
      border: transparent;
      appearance: none;
      min-width: 150px;
    }
    
    #shortArrow a{
      display: flex;
      justify-content: center;
      align-items: center;
      /* gap: 5px; */
      transition: all 0.3s ease-out;
      text-decoration: none;
    }
   
    #shortArrow:hover a{
      transform: translateX(10px);
      text-decoration: none;
    }

    #shortArrow p.btn-text{
      font-family: 'Poppins', sans-serif;
      font-weight: 500;
      font-size: 16px;
      text-transform: uppercase;
      color: var(--secondary);
      opacity: 1;
      padding-top: 12%;
    }

    button > a{
      margin: 0;
      padding: 0;
      height: 40px;
    }
    
    button.shortArrow{
      transform: translateX(0px);
    }


    .previous_next_btn{
      display: inline-flex;
      flex-direction: row;
      gap: 10px;
    }

    .arrow-extend-next,
    .arrow-extend-previous{
      border: none;
      appearance: none;
      min-width: 150px;
    }

    .arrow-extend-previous a,
    .arrow-extend-next a{
      display: contents;
    }
    
   
   /* Extended Next */
   .arrow-extend-next {
    background-color: var(--primary);
    color: var(--secondary);
    border-radius: 50px;
    padding: 0 20px;
    height: 35px;
  
    gap: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .arrow-extend-next span {
    display: inline-block;
  }
  .arrow-extend-next span img {
    width: 18px;
    height: 12px;
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
  }
  .arrow-extend-next span.arrow {
    width: 12px;
    overflow: hidden;
    position: relative;
    height: 12px;
    transition: all 0.3s ease-in-out;
  }
  .arrow-extend-next span.text {
    position: relative;
    right: 0;
    transition: all 0.3s ease-in-out;
    font-size: 14px;
    font-weight: 600;
    text-transform: uppercase;
  }
  .arrow-extend-next:hover {
    cursor: pointer;
  }
  .arrow-extend-next:hover span.text {
    right: -1px;
  }
  .arrow-extend-next:hover span.arrow {
    width: 18px;
  }
  
  /* Extended previous */
  .arrow-extend-previous {
    background-color: var(--primary);
    color: var(--secondary);
    border-radius: 50px;
    padding: 0 20px;
    height: 35px;
  
    gap: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .arrow-extend-previous span {
    display: inline-block;
  }
  .arrow-extend-previous span img {
    width: 18px;
    height: 12px;
    position: absolute;
    left: 0;
    transform: translateX(-50%);
    transform: rotate(180deg);
  }
  .arrow-extend-previous span.arrow {
    width: 12px;
    overflow: hidden;
    position: relative;
    height: 12px;
    transition: all 0.3s ease-in-out;
  }
  .arrow-extend-previous span.text {
    position: relative;
    right: 0;
    transition: all 0.3s ease-in-out;
    font-size: 14px;
    font-weight: 600;
    text-transform: uppercase;
  }
  .arrow-extend-previous:hover {
    cursor: pointer;
  }
  .arrow-extend-previous:hover span.text {
    right: -1px;
  }
  .arrow-extend-previous:hover span.arrow {
    width: 18px;
  }
  


/* Animation Mine Ended */



    /* All Buttons */

    h6 {
      font-family: 'Poppins', sans-serif;
      margin: 0;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 5px;
      text-transform: uppercase;
    }
    
    h6::before {
      content: url('../img/arrow_right_navy.svg');
      transform-origin: left;
      transition: transform 0.3s ease-out;
      padding-top: 3px;
    }
    
    a > button:hover > h6::before {
      transform: scaleX(1.2);
    }
    
    button:hover > h6{
      transform: translateX(10px);
      transition: transform 0.3s ease-out;
    }
    
    button > h6 {
      transform: translateX(0);
      transition: transform 0.3s ease-out;
    }
    


  /* learn more yellow */

   h5 {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    display: flex;
    align-items: center;
    gap: 5px;
    text-transform: uppercase;
    display: inline-block;
    }

  h5::before {
    content: url('data:image/svg+xml;utf8,<svg width="17" height="12" viewBox="0 0 17 12" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M0 6H1.5" stroke="%23FAC019" stroke-width="1.5"/><path d="M3.5 6H5" stroke="%23FAC019" stroke-width="1.5"/><path id="apple" d="M16.5303 6.53033C16.8232 6.23744 16.8232 5.76256 16.5303 5.46967L11.7574 0.696699C11.4645 0.403806 10.9896 0.403806 10.6967 0.696699C10.4038 0.989592 10.4038 1.46447 10.6967 1.75736L14.9393 6L10.6967 10.2426C10.4038 10.5355 10.4038 11.0104 10.6967 11.3033C10.9896 11.5962 11.4645 11.5962 11.7574 11.3033L16.5303 6.53033ZM7 6.75H16V5.25H7V6.75Z" fill="%23FAC019"/></svg>');
    transform-origin: left;
    transition: all 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    margin-right: 5px;
  }
  
  h5:hover::before {
    content: url('data:image/svg+xml;utf8,<svg width="17" height="12" viewBox="0 0 17 12" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M0 6H1.5" stroke="%23FAC019" stroke-width="1.5"/><path d="M3.5 6H5" stroke="%23FAC019" stroke-width="1.5"/><path id="ball" d="M16.5303 6.53033C16.8232 6.23744 16.8232 5.76256 16.5303 5.46967L11.7574 0.6967C11.4645 0.403807 10.9896 0.403807 10.6967 0.6967C10.4038 0.989593 10.4038 1.46447 10.6967 1.75736L14.9393 6L10.6967 10.2426C10.4038 10.5355 10.4038 11.0104 10.6967 11.3033C10.9896 11.5962 11.4645 11.5962 11.7574 11.3033L16.5303 6.53033ZM-6.55671e-08 6.75L16 6.75L16 5.25L6.55671e-08 5.25L-6.55671e-08 6.75Z" fill="%23FAC019"/></svg>');
    
    transform-origin: left;
    transition: all 1.5s cubic-bezier(0.175, 0.885, 0.32, 1.275) !important;
  }

  a:hover > h5{
    transform: translateX(10px);
    transition: all 0.3s ease-out;
  }

  a > h5 {
    transform: translateX(0);
    transition: all 0.3s ease-out;
  } 

  /* Learn more Navy */

  span > span > h5 {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    display: flex;
    align-items: center;
    color: var(--secondary) !important;
    text-transform: uppercase;
    transition: all 0.3s ease-out !important;
    display: inline-block;
  }
  
  span > span > h5::before {
    /* content: url('data:image/svg+xml;charset=UTF-8,<svg width="17" height="12" viewBox="0 0 17 12" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M0 6H1.5" stroke="%23103051" stroke-width="1.5"/><path d="M3.5 6H5" stroke="%23103051" stroke-width="1.5"/><path id="apple" d="M16.5303 6.53033C16.8232 6.23744 16.8232 5.76256 16.5303 5.46967L11.7574 0.696699C11.4645 0.403806 10.9896 0.403806 10.6967 0.696699C10.4038 0.989592 10.4038 1.46447 10.6967 1.75736L14.9393 6L10.6967 10.2426C10.4038 10.5355 10.4038 11.0104 10.6967 11.3033C10.9896 11.5962 11.4645 11.5962 11.7574 11.3033L16.5303 6.53033ZM7 6.75H16V5.25H7V6.75Z" fill="%23103051"/></svg>'); */
    transform-origin: left;
    transition: all 0.3s ease-out !important;
    margin-right: 5px;
  }


  
  span > span > h5:hover::before {
    /* content: url('../img/dot_navy_hover.svg');  */
    content: url('data:image/svg+xml;charset=UTF-8,<svg width="17" height="12" viewBox="0 0 17 12" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M0 6H1.5" stroke="%23103051" stroke-width="1.5"/><path d="M3.5 6H5" stroke="%23103051" stroke-width="1.5"/><path id="ball" d="M16.5303 6.53033C16.8232 6.23744 16.8232 5.76256 16.5303 5.46967L11.7574 0.6967C11.4645 0.403807 10.9896 0.403807 10.6967 0.6967C10.4038 0.989593 10.4038 1.46447 10.6967 1.75736L14.9393 6L10.6967 10.2426C10.4038 10.5355 10.4038 11.0104 10.6967 11.3033C10.9896 11.5962 11.4645 11.5962 11.7574 11.3033L16.5303 6.53033ZM-6.55671e-08 6.75L16 6.75L16 5.25L6.55671e-08 5.25L-6.55671e-08 6.75Z" fill="%23103051"/></svg>');
    transform-origin: left;
    transition: all 0.3s ease-out !important;
  }
  
  a:hover > span > span > h5 {
    transform: translateX(10px);
  }
  
  a > span > span > h5 {
    transform: translateX(0);
  }

  @media (hover: hover) {
    a:hover > span > span > h5::before {
      content: url('../img/dot_navy_hover.svg'); 
      transform-origin: left;
      transition: all 0.3s ease-out !important;
    }
  }
  
  

   /* Learn more White of inside card */

   span > h5 {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    display: flex;
    align-items: center;
    text-transform: uppercase;   
    display: inline-block;
  }
  
  span > h5::before {
    content: url('../img/dot_white.svg'); 
    transform-origin: left;
    transition: all 0.3s ease-out;
    margin-right: 5px;
  }

  span > h5:hover::before {
    content: url('../img/dot_white_hover.svg'); 
    transform-origin: left;
    transition: all 0.3s ease-out;
  }
  
 
  a:hover > span > h5{
    transform: translateX(10px);
    transition: all 0.3s ease-out;
  }

   a > span > h5 {
    transform: translateX(0);
    transition: all 0.3s ease-out;
  }

/* Previous Next Button */


/* test start */

/* .previous {
  background-color: var(--primary);
  color: var(--secondary);
  position: relative;
  padding: 0;
  z-index: 5;
  text-align: left;
  cursor: pointer;
  border-radius: 80px;
  padding: 2px 20px !important;
  border: none;
}

.previous .line-left {
  position: absolute;
  right: 90px;
  top: 0;
  transition: all 0.3s ease-out;
  max-width: 12px !important;
  margin-right: 3px
}

.previous:hover .line-left {
  right: 93px;
  max-width: fit-content !important;
  transition: all 0.3s ease-out;
}

.previous .text {
  margin-left: 20px;
  font-family: 'Poppins', sans-serif;
  font-size: 14px;
  font-weight: 500;
  color: var(--secondary);
  display: flex;
  align-items: center;
  text-transform: uppercase;   
  display: inline-block;
}

.previous:hover .text {
  transition: all 0.3s ease-out;
  margin-left: 12px;
} */

.previous {
  background-color: var(--primary);
  color: var(--secondary);
  position: relative;
  padding: 0;
  z-index: 5;
  text-align: left;
  cursor: pointer;
  border-radius: 80px;
  padding: 2px 20px !important;
  border: none;
}

.previous .line-left {
  position: absolute;
  right: 90px;
  top: 0;
  transition: all 0.3s ease-out;
  max-width: 12px !important;
  margin-right: 3px
}

.previous:hover .line-left {
  right: 93px;
  max-width: fit-content !important;
  transition: all 0.3s ease-out;
}

.previous .text {
  margin-left: 20px;
  font-family: 'Poppins', sans-serif;
  font-size: 14px;
  font-weight: 500;
  color: var(--secondary);
  display: flex;
  align-items: center;
  text-transform: uppercase;   
  display: inline-block;
}

.previous:hover .text {
  transition: all 0.3s ease-out;
  margin-left: 12px;
}



/* Next Button */

/* .next {
  background-color: var(--primary);
  color: var(--secondary);
  position: relative;
  padding: 0;
  z-index: 5;
  text-align: right;
  cursor: pointer;
  border-radius: 80px;
  padding: 2px 20px !important;
  border: none;
}

.next .line-right {
  position: absolute;
  left: 60px;
  top: 0;
  transition: all 0.3s ease-out;
  max-width: 20% !important;
  margin-left: 3px;
}

.next:hover .line-right {
  left: 65px;
  max-width: fit-content !important;
  transition: all 0.3s ease-out;
}

.next .text {
  margin-right: 20px;
  font-family: 'Poppins', sans-serif;
  font-size: 14px;
  font-weight: 500;
  color: var(--secondary);
  display: flex;
  align-items: center;
  text-transform: uppercase;   
  display: inline-block;
}

.next:hover .text {
  transition: all 0.3s ease-out;
  margin-right: 16px !important;
} */


/* .next {
  background-color: var(--primary);
  color: var(--secondary);
  position: relative;
  padding: 0;
  z-index: 5;
  text-align: right;
  cursor: pointer;
  border-radius: 80px;
  padding: 2px 20px !important;
  border: none;
}

.next .line-right {
  position: absolute;
  left: 50px;
  top: 0;
  transition: all 0.3s ease-out;
  margin-left: 3px;
  z-index: 1;
}

.next:hover .line-right {
  left: 55px;
  transition: all 0.3s ease-out;
}

.next .text {
  margin-right: 20px;
  font-family: 'Poppins', sans-serif;
  font-size: 14px;
  font-weight: 500;
  color: var(--secondary);
  display: flex;
  align-items: center;
  text-transform: uppercase;   
  display: inline-block;
  max-width: 38px !important; 
  z-index: 2;
}

.next:hover .text {
  transition: all 0.3s ease-out;
  margin-right: 12px;
} */

/* test end */




   div.previous_next_btn a > button.next > h6::before{
    display: none;
   }

   /* Previous Button */
    div.previous_next_btn a > button.previous {
      float: left;
      margin-right: 10px;
    }

    div.previous_next_btn a > button.previous > h6 {
      transform: translateX(0);
      transition: transform 0.3s ease-out;
    }

    div.previous_next_btn a > button.previous:hover > h6 {
      transform: translateX(-10px);
      transition: transform 0.3s ease-out;
    }

    div.previous_next_btn a > button.previous > h6::before {
      content: url('../img/arrow_left_navy.svg');
      transform-origin: left;
      transition: transform 0.3s ease-out;
    }

    div.previous_next_btn a > button.previous:hover > h6::before {
      transform: scaleX(1.1);
    }
      
  
   /* Next Button */
   div.previous_next_btn a > button.next > h6::after{
    content: url('../img/arrow_right_navy.svg');
    transition: transform 0.3s ease-out;
   }

   div.previous_next_btn a > button:hover.next > h6::after{
    content: url('../img/arrow_right_navy.svg');
    transform: scaleX(1.1);
    transition: transform 0.3s ease-out;
   }


   p{
    font-family: 'Poppins', sans-serif !important;
    opacity: 1;
   }

   a > button{
    padding: 8px 30px !important;
    border-radius: 80px !important;
    color: var(--secondary);
   }

   button>h6{
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    color: var(--secondary);
   }

   .hero {
    /* position: relative; */
  }

  /* .hero-container > .hero-content > button{
    padding: 0.8% 2% !important;
  } */

  .bg_slider {
    position: relative;
    height: 100vh !important;
  }
  
  .bg_slider img {
    object-fit: cover;
    width: 100% !important;
    height: 100% !important;
  }

  .hero-content {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fff;
    text-align: center;
  }
  
  .hero-content p {
    font-size: 16px;
    text-transform: uppercase;
  }
  
  .hero-content h1 {
    font-size: 50px;
    margin-top: 10px;
    margin-bottom: 20px;
  }
  
  .hero-content button {
    font-size: 14px;
  }
  
  /* navbar */

  .overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(2px);
    z-index: 10;
    opacity: 0.9;

    display: inline-table;
  }

  .navbar {
    position: fixed;
    width: 100%;
    z-index: 999;
  }

  html, body {
    height: 100%;
  }

  .navbar-scrolled {
    /* background-color: var(--bg_black); */
    backdrop-filter: blur(4px) !important;
  }

  .navbar-menu {
    cursor: pointer;
  }
  
  .navbar-menu svg {
    width: 33px;
    height: 24px;
  }
  
  .navbar-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    background-color: rgba(0, 0, 0, 1) !important;
    transition: opacity 0.3s ease;
    z-index: -1;
  }
  
  .navbar-menu-wrapper {
    position: fixed;
    top: 0;
    right: 0;
    width: 50%;
    height: 100%;
    background-color: #fff;
    transform: translateX(100%);
    overflow-y: auto;
    transition: all 0.5s ease-out;

    display: inline-table;
  }
  
  .navbar-menu-inner {
    padding: 20px 40px;
  }
  
  .navbar-menu-inner ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  .navbar-menu-inner ul li {
    margin-bottom: 20px;
    
  }
  
  .navbar-menu-inner ul li a {
    color: #000;
    font-weight: bold;
    text-decoration: none !important;
  }
 
  .navbar-menu-open .navbar-overlay {
    opacity: 1;
    z-index: 1;
  }

  .navbar-menu-open .navbar-menu-wrapper {
    transform: translateX(0);
  }

  .navbar-menu-inner ul>li>a:hover{
    color: var(--primary);
  }

  ul .list-unstyled {
  display: none; 
}

ul .dropdown-menu{
  top: 0 !important;
}

ul.dropdown-menu > li > a.dropdown-item{
  top: 0 !important;
  padding: 0;
  font-family: 'Poppins', sans-serif !important;
  font-size: 18px !important;
  font-weight: 400 !important;

}

.list-unstyled li:hover ul {
  display: flex;
  flex-direction: column;
  position: absolute;
  right: 55%;
  background-color: #fff;
  border: none;
}

.list-unstyled ul li {
  padding: 5px;
  border-bottom: 1px solid #ccc;
}

.list-unstyled ul li:last-child {
  border-bottom: none;
} 

.bi-chevron-down::before {
  content: "\f282";
}

.bi-chevron-down:hover::before,
ul.list-unstyled li:hover > a:hover {
  content: "\f286" !important;
}

 
  
  .video-section {
    height: 100vh;
  }
  
  .video-container {
    position: relative;
    height: 100%;
  }
  
  .video-container video {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
  
  .video-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 99.5%;
  }
  
  .overlay-bg {
    background-color: rgba(0, 0, 0, 0.6);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    border-radius: 25px;
  }
  
  .text-overlay {
    position: absolute;
    top: 70%;
    left: 0;
    transform: translate(0, -50%);
    padding: 0 30px;
    text-align: left;
    color: #fff;
    width: 100%;
    box-sizing: border-box;
  }
  
  .text-overlay h1 {
    font-size: 3em;
    margin-bottom: 0.5em;
  }
  
  .text-overlay p {
    font-size: 1.5em;
    margin-bottom: 1em;
  }
  
  .navbar.transparent {
    background-color: transparent;
  }
  
  .navbar.white {
    background-color: #fff;
  }
  
  .menu {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: flex-end;
  }
  
  .menu li {
    margin: 0 10px;
  }
  
  .menu li a {
    text-decoration: none;
    color: #000;
  }
  
  .logo {
    font-weight: bold;
    font-size: 24px;
  }
  
  .slider-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    color: #fff;

    padding: 100px 0 50px 0 !important;
  }
  
  .slider-content h1 {
    font-size: 48px;
    margin-bottom: 20px;
  }
  
  .slider-content p {
    font-size: 24px;
    max-width: 800px;
    text-align: center;
  }

  div.slider-content.left{
    display: flex; 
    align-items: start; 
    flex-direction: column;
  }

  .slider-content.left > p{
    font-size: 16px; 
    text-transform: uppercase; 
    color: var(--black);
  }

  .slider-content.left > h1{
    color: var(--black);
  }

  .bg_slider {
    position: relative;
  }

  /* watermark  */

  .watermark_section {
     background-color: var(--bg_black); 
    height: 100vh; 
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('../img/watermark1.png');
    background-size: 70% auto !important;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    background-attachment: fixed;
  }

  .watermark {
    height: 100vh;
    display: flex;
    position: relative;
    width: 100%;
  }
  
  .image-watermark {
    width: 80%;
    height: 80%;
    position: absolute;
    left: 0;
    top: 15%;
    background-size: contain;
    background-repeat: no-repeat;
    background-attachment: fixed;
    
  }
  
  .content-watermark {
    width: 100%;
    padding: 0 10% 0 40%;
    position: relative;
    z-index: 2;
    color: var(--white);
  }
 
  
  /* Breadcrumb */

 div.container > nav > ol.breadcrumb> li.breadcrumb-item > a{
  font-family: 'Poppins', sans-serif !important; 
  color: var(--text_gray) !important; 
   text-transform: uppercase !important;
   letter-spacing: 1px !important;
 }

 button>h6{
  margin: 0 !important;
 }

  .card {
    border-radius: 25px !important;
    border: 3px solid var(--tp) !important;
    background: transparent !important;
  }

  .card-body{
    border-radius: 0 0 25px 25px !important; 
    /* height: 250px;  */
    overflow: hidden;
    background-color: var(--card_black);
  }

  .card-body a span h5{
    padding: 0 5%;
    color: var(--white) !important; 
    font-size: 12px; 
    margin-top: 5%; 
    text-transform: uppercase;
  }

  .card-body h4{
    font-family: 'Poppins', sans-serif; 
    font-size: 15px; 
    /* font-size: 20px; */
    font-weight: 500; 
    color: var(--white); 
    height: 20px; 
    overflow: hidden; 
    text-overflow: ellipsis;
    padding: 0 5%;
 }

 .card-body p{
  padding-top: 0; 
  color: var(--white); 
  font-size: 15px; 
  font-weight: 200; 
  height: 75px; 
  overflow: hidden; 
  text-overflow: ellipsis; 
  display: -webkit-box; 
  -webkit-line-clamp: 3; 
  -webkit-box-orient: vertical; 
  line-height: 1.6;
  padding: 0 5%;
 }
 
  .card-text{
    font-family: 'Poppins', sans-serif !important;
    font-size: 17px;
    font-weight: 275 !important;
    padding-top: 30px;
    line-height: 28px;
  }

  .ul_slider div.card > img{
    height: 180px;
   }

   .ul_slider_all div.card > img{
    height: 180px;
   }

   .ul_slider_all > .row >.col-lg-4 :nth-child(2n) {
    /* margin-bottom: 30px; */
  }

  span>ul>li{
    font-family: 'Primary1', sans-serif !important;
    font-size: 25px;
    line-height: 40px;
  }

  ul>li{
    font-family: 'Primary1', sans-serif !important;
    font-size: 25px;
    line-height: 40px;
  }

  .list-unstyled li a{
    font-family: 'Primary1', sans-serif !important;
    font-size: 25px;
    line-height: 40px;
    font-weight: 300 !important;
  }

  span>ul>li::before{
    font-family: 'bootstrap-icons', sans-serif;
    content: '\f138';
    display: inline-block; 
    vertical-align: middle;
    margin-right: 1.5%;
    color: var(--secondary2);
  }

  .slick-dots {
    bottom: 25px !important;
    display: flex;
    justify-content: center;
  }
  
  .dot-item {
    margin: 0 10px;
    cursor: pointer;
  }

  .video-dots {
    display: flex;
    justify-content: center;

    padding-top: 1em;
  }
  
  .dot-video {
    margin: 0 10px;
    cursor: pointer;
  }
  
  .card-dots {
    display: flex;
    justify-content: center;
  }
  
  .dot-card {
    margin: 50px 10px;
    cursor: pointer;
  }


  /* read more button */

  #moreFirst {display: none;}

  #moreSec {display: none;}

  #moreThird {display: none;}

  .slick-list draggable{
    height: 100% !important;
  }


  /* about */

  #navbar_fixed{
    position: fixed;
    top: 0;
  }



  .breadcrumb>li>p{
    color: var(--white);
  }

  a{
    text-decoration: none !important;
  }

  .abt_name{
    margin: 0 8% !important;
  }

/* service page */

/* service1 */
.service1_img{
width: 90%;
height: 900px;
background: url('../img/2.png');
background-repeat: no-repeat;
background-position: right;
background-size: cover;
border-radius: 15px !important;
}

/* contact form */

form > input{
padding-left: 25px !important;
color: var(--text_gray);
}

::placeholder{
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  color: var(--text_gray)
}


/* Article page */

/* sidebar */

div.sidebar {
  max-height: 50%;
  overflow-y: scroll;
  scrollbar-width: thin;
  scrollbar-color: var(--card_black) var(--text_gray);
  position: relative;
  background: linear-gradient(to top, transparent, var(--white));
}


/* Webkit-based browsers (Chrome, Safari) */
div.sidebar::-webkit-scrollbar {
  width: 6px;
  border-radius: 5px;
}

div.sidebar::-webkit-scrollbar-thumb {
  background-color: var(--card_black);
  border-radius: 5px;
}

div.sidebar::-webkit-scrollbar-track {
  background-color: var(--text_gray);
  border-radius: 5px;
}

/* Firefox */
div.sidebar {
  scrollbar-width: thin;
  scrollbar-color: var(--card_black) var(--text_gray);
}

div.sidebar::-moz-scrollbar {
  width: 6px;
  border-radius: 5px;
}

div.sidebar::-moz-scrollbar-thumb {
  background-color: var(--card_black);
  border-radius: 5px;
}

div.sidebar::-moz-scrollbar-track {
  background-color: var(--text_gray);
  border-radius: 5px;
}

.sidebar_overlay {
  background: linear-gradient(to top, transparent, var(--white));
}

div.sidebar >ul.sidebar-menu{
  padding-left: 0;
}


.sidebar-menu  > a > li {
  padding: 10px;
  border-bottom: 1px solid var(--text_gray);
}

div.sidebar > .sidebar-menu  > a > li >p{
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  opacity: 1;
  color: var(--text_gray);
  font-weight: 300;
}

div.sidebar > .sidebar-menu > a > li >h3{
  font-family: 'Poppins', sans-serif;
  font-size: 20px;
  opacity: 1;
  color: var(--text_gray);
  font-weight: 400;
}

div.sidebar > .sidebar-menu > a > li:hover p,
div.sidebar > .sidebar-menu > a > li.active p,
div.sidebar > .sidebar-menu > a > li.active h3,
div.sidebar > .sidebar-menu > a > li:hover h3 {
  color: var(--black);
}

.article-all{
  margin-bottom: 10%;
}

.article-content {
  display: flex;
  flex-direction: column;
}

.article-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.article-header > a:hover {
  background-color: var(--primary);
  border-radius: 7.5px;
}

.article-content-heading {
  margin-right: 10px;
}

.article-date-time {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
  font-family: 'Poppins', sans-serif;
  font-weight: 300;
  font-size: 16px;
}

.article-date, .article-time {
  margin: 0;
}

.article-image {
  background-size: cover;
  height: fit-content;
  border-radius: 10px !important;
}

.article-body {
  font-family: 'Poppins', sans-serif;
  font-weight: 300;
  font-size: 16px;
  line-height: 1.5;
  margin-top: 30px;
}

.article-body > span > p {
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
}

.article-body > ol > li{
  opacity: 0.7;
}

.row.article-card{
  display: flex;
  background-color: var(--card_black);
  justify-content: center;
  align-items: center;
  color: var(--white);
  border-radius: 25px;
}

.col-lg-5 > .article-card-text > span > p{
  font-family: 'Poppins', sans-serif;
  font-size: 14px;
  opacity: 1;
  color: var(--text_gray);
  font-weight: 300;
}

.col-lg-5 > .article-card-text > p{
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  opacity: 1;
  color: var(--text_gray);
  font-weight: 300;
  overflow: hidden; 
  text-overflow: ellipsis; 
  -webkit-line-clamp: 6; 
  display: -webkit-box;
  -webkit-box-orient: vertical;
}

.col-lg-5 > .article-card-text > a span h5{
  color: var(--white) !important; 
  font-size: 12px; 
  margin-top: 10%; 
  text-transform: uppercase;
}



.row.article-card > .col-lg-7{
  padding: 0;
}

.row.article-card > .col-lg-5{
  padding: 0 45px;
}

div.sidebar::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}

div.sidebar::-webkit-scrollbar-track {
  /* background-color: var(--text_gray); */
  background: linear-gradient(0deg, transparent , var(--text_gray));
}

div.sidebar::-webkit-scrollbar-thumb {
  background-color: var(--card_black);
}

#search_pills{
  display: flex;
  align-items: start;
  margin-top: 20px ;
}

.search-box {
  color: var(--secondary2);
  display: flex;
  padding: 2px;
  border: 1px solid currentColor;
  border-radius: 45px;
  margin: 0 0 30px;
  padding: 0 10px;
}

.search-box > input[type=search] {
  border: none;
  background: transparent;
  margin: 0;
  padding: 7px 8px;
  font-size: 14px;
  color: inherit;
  border: 1px solid transparent;
  border-radius: inherit;
  width: 100%;
}

.search-box > input[type=search]::placeholder {
  color: var(--secondary2);
}

.search-box > button[type=submit] {
  text-indent: -999px;
  overflow: hidden;
  width: 40px;
  padding: 0;
  margin: 0;
  border: 1px solid transparent;
  border-radius: inherit;
  background: transparent url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' class='bi bi-search' viewBox='0 0 16 16'%3E%3Cpath d='M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z'%3E%3C/path%3E%3C/svg%3E") no-repeat center;
  cursor: pointer;
  opacity: 1;
}

.search-box > button[type=submit]:hover {
  opacity: 1;
}

.search-box > button[type=submit]:focus,
input[type=search]:focus {
  outline: none;
}

.col-lg-5 > .pill-button{
  display: flex;
  justify-content: end;
  align-items: end;
}

.col-lg-5 > .pill-button > a > button:hover{
  background: var(--text_gray);
  color: var(--white);
}

.col-lg-5 > .pill-button > a > button{
  outline: none !important;
  border: none;
  background: none;
  padding: 5px 20px !important;
  text-transform: uppercase;
}

.col-lg-5 > .pill-button > a > button.active{
  background: var(--secondary_bg);
  color: var(--white);
}


  /* pagination position styling */
  .pagination_section {
    position: relative;
  }
 
  /* pagination styling */
  .pagination_section a {
    color: black;
    padding: 10px 18px;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    border-radius: 45px;
  }

  .pagination_section a:hover:not(.active) {
    background-color: var(--text_gray);
    color: white;
  }

  .pagination_section > a:nth-child(2) {
    background-color: var(--secondary_bg);
    color: white;
  }

  .pagination_section{
    margin-top: 7%;
  }


  /* Video Page */

  .video_page > .vid > .video-container > video ,
  .video_page > .vid > .video-container > .video-overlay {
    border-radius: 10px;
    padding: 0;
  }


  .header-part > .video-header > p{
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    font-weight: 400;
    opacity: 1;
    margin-bottom: 5px;
  } 

  .header-part > .video-date-time > p{
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 300;
  } 

  /* video modal */

  #videoModal .modal-dialog {
    max-width: 75%;
    width: 75%;
    border-radius: 10px;
  }
  #videoModal .modal-content {
    background-color: transparent;
    border: none;
    box-shadow: none;
  }
  #videoModal .modal-body {
    padding: 0;
  }

  #videoModal video {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    border-radius: 10px;
  }

  .modal-content > .modal-button > button{
    background-color: var(--white);
    position: absolute;
    z-index: 9999999;
    top: 5%;
    right: 30px;
  }

      /* footer */
  
/* logo */

footer img{
  width: 85% !important;
  height: auto !important;
}

/* social icons */
div > a > i{
  color: var(--secondary);
  opacity: 1 !important;
  padding-left: 15px;
}

div > a > i:hover{
  color: var(--primary);
  opacity: 1 !important;
  padding-left: 15px;
}

footer  ul > li > a:hover{
  color: var(--primary) !important;
}

footer .footerTest{
  display: flex;
  justify-content: space-between;
  padding: 0 80px;
}

#arrowYellow{
  padding-left: 0px !important;
}

#arrowNavy{
padding-left: 0px;
}

#arrowNavy p,
#arrowYellow p,
#arrowWhite p{
letter-spacing: 1px;
}

button.arrowWhite a{
  padding-left: 1em !important;
}

.card-body p{
  opacity: 0.7;
}

.navbar-close p{
  font-size: 14px !important;
}

.row div.col-lg-1.col-md-1 svg{
  width: 45px !important;
  height: 50px !important;
  }

.article-card-text button a{
  padding-left: 0em !important;
}

.nf-field-element button{
  margin-top:1em;
}


.row.allVideosDisplay >.col-lg-4 :nth-child(2n) {
  margin-bottom: 5em;
}

iframe{
  border-radius: 25px;
}



/* navbar social icons */

.navbar-menu-inner div > a > i{
  color: var(--text_gray);
  opacity: 1 !important;
  padding-left: 15px;
}

.navbar-menu-inner div > a > i:hover{
  color: var(--secondary);
  opacity: 1 !important;
  padding-left: 15px;
}
