

   /* animation button started */

   .arrow-extend,
   .arrow-extend-next,
   .arrow-extend-previous,
   .arrow-w-lines,
   .arrow-n-lines,
   .arrow-y-lines {
     border: none;
     appearance: none;
     min-width: 150px;
   }
   
   /* Extended */
   .arrow-extend {
     background-color: var(--primary);
     color: var(--secondary);
     border-radius: 50px;
     padding: 0 20px;
     height: 35px;
   
     gap: 5px;
     display: flex;
     justify-content: center;
     align-items: center;
   }
   .arrow-extend span {
     display: inline-block;
   }
   .arrow-extend span img {
     width: 18px;
     height: 12px;
     position: absolute;
     top: 50%;
     right: 0;
     transform: translateY(-50%);
   }
   .arrow-extend span.arrow {
     width: 12px;
     overflow: hidden;
     position: relative;
     height: 12px;
     transition: all 0.3s ease-in-out;
   }
   .arrow-extend span.text {
     position: relative;
     right: 0;
     transition: all 0.3s ease-in-out;
     font-size: 14px;
     font-weight: 600;
   }
   .arrow-extend:hover {
     cursor: pointer;
   }
   .arrow-extend:hover span.text {
     right: -1px;
   }
   .arrow-extend:hover span.arrow {
     width: 18px;
   }
   
   .previous_next_btn{
     display: flex;
     flex-direction: row;
     gap: 10px;
   }
   
   
   
   /* Extended Next */
   .arrow-extend-next {
     background-color: var(--primary);
     color: var(--secondary);
     border-radius: 50px;
     padding: 0 20px;
     height: 35px;
   
     gap: 5px;
     display: flex;
     justify-content: center;
     align-items: center;
   }
   .arrow-extend-next span {
     display: inline-block;
   }
   .arrow-extend-next span img {
     width: 18px;
     height: 12px;
     position: absolute;
     top: 50%;
     right: 0;
     transform: translateY(-50%);
   }
   .arrow-extend-next span.arrow {
     width: 12px;
     overflow: hidden;
     position: relative;
     height: 12px;
     transition: all 0.3s ease-in-out;
   }
   .arrow-extend-next span.text {
     position: relative;
     right: 0;
     transition: all 0.3s ease-in-out;
     font-size: 14px;
     font-weight: 600;
     text-transform: uppercase;
   }
   .arrow-extend-next:hover {
     cursor: pointer;
   }
   .arrow-extend-next:hover span.text {
     right: -1px;
   }
   .arrow-extend-next:hover span.arrow {
     width: 18px;
   }
   
   /* Extended previous */
   .arrow-extend-previous {
     background-color: var(--primary);
     color: var(--secondary);
     border-radius: 50px;
     padding: 0 20px;
     height: 35px;
   
     gap: 5px;
     display: flex;
     justify-content: center;
     align-items: center;
   }
   .arrow-extend-previous span {
     display: inline-block;
   }
   .arrow-extend-previous span img {
     width: 18px;
     height: 12px;
     position: absolute;
     left: 0;
     transform: translateX(-50%);
     transform: rotate(180deg);
   }
   .arrow-extend-previous span.arrow {
     width: 12px;
     overflow: hidden;
     position: relative;
     height: 12px;
     transition: all 0.3s ease-in-out;
   }
   .arrow-extend-previous span.text {
     position: relative;
     right: 0;
     transition: all 0.3s ease-in-out;
     font-size: 14px;
     font-weight: 600;
     text-transform: uppercase;
   }
   .arrow-extend-previous:hover {
     cursor: pointer;
   }
   .arrow-extend-previous:hover span.text {
     right: -1px;
   }
   .arrow-extend-previous:hover span.arrow {
     width: 18px;
   }
   
   /* Lines- white */
   .arrow-w-lines {
     background-color: transparent;
     color: white;
     position: relative;
     padding: 0;
     z-index: 5;
     height: 42px;
     text-align: left;
     cursor: pointer;
   }
   .arrow-w-lines .arrow {
     position: relative;
     background-color: transparent;
     display: inline-block;
     z-index: 3;
     width: 56px;
     height: 42px;
     text-align: right;
     vertical-align: middle;
   }
   .arrow-w-lines .arrow img {
     width: 15px;
     height: 15px;
     position: absolute;
     top: 50%;
     transform: translateY(-50%);
     left: 17px;
     transition: left 0.3s ease-in-out;
   }
   .arrow-w-lines:hover .arrow img {
     left: 25px;
   }
   .arrow-w-lines .arrow:before {
     content: '';
     height: 2px;
     position: absolute;
     top: 48%;
     left: 19px;
     width: 1.5px;
     background-color: var(--card_black);
     z-index: 4;
   }
   .arrow-w-lines .arrow:after {
     content: '';
     height: 2px;
     position: absolute;
     top: 48%;
     left: 23px;
     width: 1.5px;
     background-color: var(--card_black);
     z-index: 4;
   }
   .arrow-w-lines .text {
     font-family: 'Poppins', sans-serif;
     font-size: 12px;
     margin: 0;
     display: flex;
     align-items: center;
     text-transform: uppercase;  
     display: inline-block;
     line-height: 42px;
     vertical-align: middle;
     position: relative;
     left: -17px;
     transition: left 0.3s ease-in-out;
   }
   .arrow-w-lines:hover .text {
     left: -10px;
   }
   
   /* lines-yellow */
   
   .arrow-y-lines {
     background-color: transparent;
     color: var(--primary);
     position: relative;
     padding: 0;
     z-index: 5;
     height: 42px;
     text-align: left;
     cursor: pointer;
   }
   .arrow-y-lines .arrow {
     position: relative;
     background-color: transparent;
     display: inline-block;
     z-index: 3;
     width: 56px;
     height: 42px;
     text-align: right;
     vertical-align: middle;
   }
   .arrow-y-lines .arrow img {
     width: 15px;
     height: 15px;
     position: absolute;
     top: 50%;
     transform: translateY(-50%);
     left: 0px;
     transition: left 0.3s ease-in-out;
   }
   .arrow-y-lines:hover .arrow img {
     left: 10px;
   }
   .arrow-y-lines .arrow:before {
     content: '';
     height: 2px;
     position: absolute;
     top: 48%;
     left: 2px;
     width: 1.5px;
     background-color: var(--bg_black);
     mix-blend-mode: multiply;
     z-index: 4;
   }
   .arrow-y-lines .arrow:after {
     content: '';
     height: 2px;
     position: absolute;
     top: 48%;
     left: 6px;
     width: 1.5px;
     background-color: var(--bg_black);
     z-index: 4;
   }
   .arrow-y-lines .text {
     font-family: 'Poppins', sans-serif;
     font-size: 14px;
     margin: 0;
     display: flex;
     align-items: center;
     text-transform: uppercase;  
     display: inline-block;
     line-height: 42px;
     vertical-align: middle;
     position: relative;
     left: -35px;
     transition: left 0.3s ease-in-out;
   }
   .arrow-y-lines:hover .text {
     left: -25px;
   }
   
   /* lines-navy */
   
   .arrow-n-lines {
     background-color: transparent;
     color: var(--secondary);
     position: relative;
     padding: 0;
     z-index: 5;
     height: 42px;
     text-align: left;
     cursor: pointer;
     font-weight: 500;
   }
   .arrow-n-lines .arrow {
     position: relative;
     background-color: transparent;
     display: inline-block;
     z-index: 3;
     width: 56px;
     height: 42px;
     text-align: right;
     vertical-align: middle;
   }
   .arrow-n-lines .arrow img {
     width: 15px;
     height: 15px;
     position: absolute;
     top: 50%;
     transform: translateY(-50%);
     left: 0px;
     transition: left 0.3s ease-in-out;
   }
   .arrow-n-lines:hover .arrow img {
     left: 10px;
   }
   .arrow-n-lines .arrow:before {
     content: '';
     height: 2px;
     position: absolute;
     top: 48%;
     left: 2px;
     width: 1.5px;
     background-color: var(--white);
     z-index: 4;
   }
   .arrow-n-lines .arrow:after {
     content: '';
     height: 2px;
     position: absolute;
     top: 48%;
     left: 6px;
     width: 1.5px;
     background-color: var(--white);
     z-index: 4;
   }
   .arrow-n-lines .text {
     font-family: 'Poppins', sans-serif;
     font-size: 14px;
     margin: 0;
     display: flex;
     align-items: center;
     text-transform: uppercase;  
     display: inline-block;
     line-height: 42px;
     vertical-align: middle;
     position: relative;
     left: -35px;
     transition: left 0.3s ease-in-out;
   }
   .arrow-n-lines:hover .text {
     left: -25px;
   }
   